@import 'pull-requests-gauge'
@import 'issue-labels-donut'
@import 'branches'
@import 'status'
@import 'top-committer'
@import 'participation-stats'


.github__repository-languages
  line
    stroke-width 2px
