.github__participation-stats
  &__range
    display block
    position absolute
    top   0.6vmin
    left  2vmin
    font-size 1.4vmin

    .fa
      margin-right 0.6vmin

  .chart__axis
    .tick
      text
        font-size 1.2vmin

