.github__status__current {
  height: 100%;
  width:  100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
  -webkit-justify-content: center;
  justify-content:         center;
  text-align: center;
}
.github__status__current__icon {
  font-size 8em
}
.github__status__current__icon--ok {
  themify: color success-color;
}
.github__status__current__icon--not-ok {
  themify: color failure-color;
}
