# Doc
/preview

# config
.babelrc
.eslintrc.yml
.gitignore
.npmignore
.travis.yml

# Logs
*.log*

# Non transpiled source code
/src

# Tests
/test
/.nyc_output
/coverage

# GitHub
ISSUE_TEMPLATE.md

# OSX
.DS_Store

# IDE
.idea