.github__organization-badge
  .widget__body
    display -webkit-flex
    display flex
    -webkit-justify-content center
    justify-content         center
    -webkit-align-items stretch
    align-items         stretch
    align-content       stretch
    -webkit-flex-direction column
    flex-direction         column

  img
    max-width  100%
    max-height 100%

  &__avatar
    height 90%
    display block

  &__banner
    height 40%
    display -webkit-flex
    display flex
    -webkit-justify-content center
    justify-content         center
    -webkit-align-items center
    align-items         center

  &__description
    padding 2vmin
    text-align center

  &__count
    display inline-block

  &__info
    flex-shrink 1

    &__item
      width 50%
      float left
      padding 5px 15px
