.github__pull-requests_gauge
  position relative

  &_chart
    height 110%

  &_message
    height 18%
    text-align center
    position absolute
    bottom 0
    left 0
    right 0
    line-height 1.25
