.github__repository-badge
  .widget__body
    display -webkit-flex
    display flex
    -webkit-justify-content center
    justify-content         center
    -webkit-align-items stretch
    align-items         stretch
    align-content       stretch
    -webkit-flex-direction column
    flex-direction         column

  &__description
    padding 2vmin
    text-align center

  &__count
    display inline-block

  &__info
    flex-shrink 1

    &__item
      width 50%
      float left
      padding 5px 15px
