.github
  &__status
    &__current
      height 100%
      width  100%
      display -webkit-flex
      display flex
      -webkit-flex-direction column
      flex-direction         column
      -webkit-justify-content center
      justify-content         center
      text-align center

      &__icon
        font-size 8em
        &--ok
          color $success-color
        &--not-ok
          color $failure-color
